.App {
  text-align: center;
}

/* generics for uniform spacing */
.spacing {
  padding: 5px;
}

.padding {
  padding: 5px;
}

/* Fonts to be used across the app */
.opaque-text {
  color: #222222;
  mix-blend-mode: normal;
  opacity: 0.5;
  font-size: 14px;
  line-height: 16px;
}

.regular-text {
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  font-weight: 600;
}

.header-text {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  font-weight: bold;
  text-align: left;
}
